/****** Object:  Database [Session2]    Script Date: 8/23/2019 6:48:28 PM ******/
CREATE DATABASE [Session2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Session2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Session2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session2]
GO
/****** Object:  Table [dbo].[AssetGroups]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetGroups](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AssetTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetSN] [nvarchar](20) NOT NULL,
	[AssetName] [nvarchar](150) NOT NULL,
	[DepartmentLocationID] [bigint] NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
	[AssetGroupID] [bigint] NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[WarrantyDate] [date] NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangedParts]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangedParts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmergencyMaintenanceID] [bigint] NOT NULL,
	[PartID] [bigint] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChangedParts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentLocations]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentLocations](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [bigint] NOT NULL,
	[LocationID] [bigint] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_DepartmentLocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyMaintenances]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyMaintenances](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetID] [bigint] NOT NULL,
	[PriorityID] [bigint] NOT NULL,
	[DescriptionEmergency] [nvarchar](200) NOT NULL,
	[OtherConsiderations] [nvarchar](200) NOT NULL,
	[EMReportDate] [date] NOT NULL,
	[EMStartDate] [date] NULL,
	[EMEndDate] [date] NULL,
	[EMTechnicianNote] [nvarchar](200) NULL,
 CONSTRAINT [PK_EMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[isAdmin] [bit] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[EffectiveLife] [bigint] NULL,
 CONSTRAINT [PK_Parts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 8/23/2019 6:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssetGroups] ON 

INSERT [dbo].[AssetGroups] ([ID], [Name]) VALUES (1, N'Hydraulic')
INSERT [dbo].[AssetGroups] ([ID], [Name]) VALUES (2, N'Pneumatic')
INSERT [dbo].[AssetGroups] ([ID], [Name]) VALUES (3, N'Electrical')
SET IDENTITY_INSERT [dbo].[AssetGroups] OFF
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([ID], [AssetSN], [AssetName], [DepartmentLocationID], [EmployeeID], [AssetGroupID], [Description], [WarrantyDate]) VALUES (1, N'05/04/0001', N'Toyota Hilux FAF321', 3, 8, 4, N'', NULL)
INSERT [dbo].[Assets] ([ID], [AssetSN], [AssetName], [DepartmentLocationID], [EmployeeID], [AssetGroupID], [Description], [WarrantyDate]) VALUES (2, N'04/03/0001', N'Suction Line 852', 7, 8, 3, N'', CAST(N'2020-03-02' AS Date))
INSERT [dbo].[Assets] ([ID], [AssetSN], [AssetName], [DepartmentLocationID], [EmployeeID], [AssetGroupID], [Description], [WarrantyDate]) VALUES (3, N'01/01/0001', N'ZENY 3,5CFM Single-Stage 5 Pa Rotary Vane', 11, 1, 1, N'', CAST(N'2018-01-17' AS Date))
SET IDENTITY_INSERT [dbo].[Assets] OFF
SET IDENTITY_INSERT [dbo].[ChangedParts] ON 

INSERT [dbo].[ChangedParts] ([ID], [EmergencyMaintenanceID], [PartID], [Amount]) VALUES (1, 3, 5, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[ChangedParts] ([ID], [EmergencyMaintenanceID], [PartID], [Amount]) VALUES (2, 1, 1, CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChangedParts] OFF
SET IDENTITY_INSERT [dbo].[DepartmentLocations] ON 

INSERT [dbo].[DepartmentLocations] ([ID], [DepartmentID], [LocationID], [StartDate], [EndDate]) VALUES (1, 6, 3, CAST(N'2010-12-28' AS Date), CAST(N'2011-01-20' AS Date))
INSERT [dbo].[DepartmentLocations] ([ID], [DepartmentID], [LocationID], [StartDate], [EndDate]) VALUES (2, 6, 2, CAST(N'2015-12-27' AS Date), CAST(N'2019-08-20' AS Date))
INSERT [dbo].[DepartmentLocations] ([ID], [DepartmentID], [LocationID], [StartDate], [EndDate]) VALUES (3, 5, 2, CAST(N'1996-04-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[DepartmentLocations] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Name]) VALUES (1, N'Exploration')
INSERT [dbo].[Departments] ([ID], [Name]) VALUES (2, N'Production')
INSERT [dbo].[Departments] ([ID], [Name]) VALUES (3, N'Transportation')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[EmergencyMaintenances] ON 

INSERT [dbo].[EmergencyMaintenances] ([ID], [AssetID], [PriorityID], [DescriptionEmergency], [OtherConsiderations], [EMReportDate], [EMStartDate], [EMEndDate], [EMTechnicianNote]) VALUES (1, 1, 2, N'Car does not start', N'none', CAST(N'2019-08-27' AS Date), CAST(N'2019-08-27' AS Date), NULL, NULL)
INSERT [dbo].[EmergencyMaintenances] ([ID], [AssetID], [PriorityID], [DescriptionEmergency], [OtherConsiderations], [EMReportDate], [EMStartDate], [EMEndDate], [EMTechnicianNote]) VALUES (2, 4, 1, N'Perforated tire', N'none', CAST(N'2019-08-27' AS Date), CAST(N'2019-08-27' AS Date), NULL, NULL)
INSERT [dbo].[EmergencyMaintenances] ([ID], [AssetID], [PriorityID], [DescriptionEmergency], [OtherConsiderations], [EMReportDate], [EMStartDate], [EMEndDate], [EMTechnicianNote]) VALUES (3, 4, 1, N'Preforated tire', N'none', CAST(N'2017-09-29' AS Date), CAST(N'2017-09-29' AS Date), CAST(N'2017-09-29' AS Date), N'The tire changed')
SET IDENTITY_INSERT [dbo].[EmergencyMaintenances] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Phone], [isAdmin], [Username], [Password]) VALUES (1, N'Martina', N'Winegarden', N'69232044381', NULL, NULL, NULL)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Phone], [isAdmin], [Username], [Password]) VALUES (2, N'Rashida', N'Brammer', N'70687629632', NULL, NULL, NULL)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Phone], [isAdmin], [Username], [Password]) VALUES (3, N'Mohamed', N'Krall', N'52688435003', NULL, N'mohamed', N'1234')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([ID], [Name]) VALUES (1, N'Kazan')
INSERT [dbo].[Locations] ([ID], [Name]) VALUES (2, N'Volka')
INSERT [dbo].[Locations] ([ID], [Name]) VALUES (3, N'Moscow')
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife]) VALUES (1, N'BLUE STORM Battery 12V 45Ah 54459', 650)
INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife]) VALUES (2, N'BLUE STORM Battery 12V 70Ah 80D26L', 700)
INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife]) VALUES (3, N'CT20 Turbo Turbocharger', NULL)
SET IDENTITY_INSERT [dbo].[Parts] OFF
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([ID], [Name]) VALUES (1, N'General')
INSERT [dbo].[Priorities] ([ID], [Name]) VALUES (2, N'High')
INSERT [dbo].[Priorities] ([ID], [Name]) VALUES (3, N'Very High')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_AssetGroups] FOREIGN KEY([AssetGroupID])
REFERENCES [dbo].[AssetGroups] ([ID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_AssetGroups]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_DepartmentLocations] FOREIGN KEY([DepartmentLocationID])
REFERENCES [dbo].[DepartmentLocations] ([ID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_DepartmentLocations]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Employees]
GO
ALTER TABLE [dbo].[ChangedParts]  WITH CHECK ADD  CONSTRAINT [FK_ChangedParts_EmergencyMaintenances] FOREIGN KEY([EmergencyMaintenanceID])
REFERENCES [dbo].[EmergencyMaintenances] ([ID])
GO
ALTER TABLE [dbo].[ChangedParts] CHECK CONSTRAINT [FK_ChangedParts_EmergencyMaintenances]
GO
ALTER TABLE [dbo].[ChangedParts]  WITH CHECK ADD  CONSTRAINT [FK_ChangedParts_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([ID])
GO
ALTER TABLE [dbo].[ChangedParts] CHECK CONSTRAINT [FK_ChangedParts_Parts]
GO
ALTER TABLE [dbo].[DepartmentLocations]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLocations_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[DepartmentLocations] CHECK CONSTRAINT [FK_DepartmentLocations_Departments]
GO
ALTER TABLE [dbo].[DepartmentLocations]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLocations_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([ID])
GO
ALTER TABLE [dbo].[DepartmentLocations] CHECK CONSTRAINT [FK_DepartmentLocations_Locations]
GO
ALTER TABLE [dbo].[EmergencyMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyMaintenances_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([ID])
GO
ALTER TABLE [dbo].[EmergencyMaintenances] CHECK CONSTRAINT [FK_EmergencyMaintenances_Assets]
GO
ALTER TABLE [dbo].[EmergencyMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyMaintenances_Priorities] FOREIGN KEY([PriorityID])
REFERENCES [dbo].[Priorities] ([ID])
GO
ALTER TABLE [dbo].[EmergencyMaintenances] CHECK CONSTRAINT [FK_EmergencyMaintenances_Priorities]
GO
USE [master]
GO


CREATE PROC SELECT_EM
AS
BEGIN
SELECT A.ID, A.ASSETSN, A.ASSETNAME, A.WarrantyDate, B.FirstName, B.LastName, C.Name FROM ASSETS A, Employees B, Departments C, DepartmentLocations D
WHERE A.EmployeeID = B.ID AND A.DepartmentLocationID = D.ID AND D.DepartmentID= C.ID
END

SELECT MAX(EMEndDate) AS 'Last Closed EM',COUNT(EMReportDate)  AS 'Number of EMs'
FROM EmergencyMaintenances 

GO 

CREATE PROC SEND_REPORT(@assetID bigint,@priorityID bigint,@decriptionEmergency nvarchar(200)
,@otherConsideration nvarchar(200),@emReportDate date,@emStarDate date,@emTechnicianNote nvarchar(200)) 
AS
BEGIN
INSERT INTO EmergencyMaintenances(AssetID,PriorityID,DescriptionEmergency,
OtherConsiderations,EMReportDate,EMStartDate,EMTechnicianNote)
VALUES (@assetID,@priorityID,@decriptionEmergency,@otherConsideration,@emReportDate,@emStarDate,@emTechnicianNote)
END

GO


CREATE PROC Asset_Emloyees(@id bigint)
AS
BEGIN
   SELECT ID,AssetSN, AssetName, (SELECT MAX(EMEndDate) FROM EmergencyMaintenances WHERE AssetID = A.ID) AS 'Last Closed EM',
  (SELECT COUNT(EMReportDate) FROM EmergencyMaintenances WHERE AssetID= A.ID) AS 'Number of EMs',
  (SELECT B.NAME FROM Departments B, DepartmentLocations C WHERE B.ID = C.DepartmentID AND A.DepartmentLocationID = C.ID) AS'Department'
  FROM Assets A
  WHERE EmployeeID = @id
END

GO




GO
--Update Report Detail:
--Gồm 2 phần:
--Cập nhật thông tin Emergency Maintenance
--Thêm các ChangedPart
CREATE PROC UPDATE_REPORT(@ID bigint,@emStarDate date,@emEndDate date,@emTechnicianNote nvarchar(200)) 
AS
BEGIN
    UPDATE EmergencyMaintenances
    SET EMStartDate=@emStarDate,
        EMEndDate=@emEndDate,
        EMTechnicianNote=@emTechnicianNote
    WHERE ID=@ID
END


GO

CREATE PROC CLEAR_CHANGEDPART(@emegencyMaintenanceID bigint)
AS
BEGIN
	DELETE FROM ChangedParts 
	WHERE EmergencyMaintenanceID=@emegencyMaintenanceID
END

GO

CREATE PROC INSERT_CHANGEDPART(@emegencyMaintenanceID bigint, @partID bigint, @amount decimal(18, 2))
AS
BEGIN
	INSERT INTO ChangedParts(EmergencyMaintenanceID,PartID,Amount) 
	VALUES(@emegencyMaintenanceID,@partID,@amount)
END

GO


--
CREATE PROC DeletePart(@id bigint)
AS
BEGIN
 DELETE ChangedParts
 WHERE ID= 4
END
--
GO

CREATE PROC SELECT_ALL_EM
AS
BEGIN
SELECT B.ID, A.AssetSN, A.AssetName, B.EMReportDate, 
(SELECT FirstName + ' ' + LastName FROM Employees WHERE ID= A.EmployeeID) AS'Employee Full Name',
(SELECT D.NAME FROM DepartmentLocations C, Departments D WHERE C.DepartmentID= D.ID AND A.DepartmentLocationID= C.ID) AS'Department'
FROM Assets A, EmergencyMaintenances B
WHERE A.ID= B.AssetID AND B.EMEndDate IS NULL
END
--Lay du lieu cho detail part
GO 

CREATE PROC GetAllChangedPart(@id bigint)
AS
BEGIN
 SELECT B.ID, A.Name, B.Amount
 FROM Parts A, ChangedParts B
 WHERE A.ID= B.PartID AND B.EmergencyMaintenanceID= @id
END

